.logoButton {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
  }
  
  .logoButton:hover,
  .logoButton:focus {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  